@import "tailwindcss";

@theme {
  --color-purple-1: #635fc7;
  --color-purple-2: #a8a4ff;
  --color-black-1: #000112;
  --color-black-2: #20212c;
  --color-black-3: #2b2c37;
  --color-grey-1: #828fa3;
  --color-grey-2: #e4ebfa;
  --color-grey-3: #f4f7fd;
  --color-red-1: #ea5555;
  --color-red-2: #ff9898;
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#9810fa 0 0);
  --d: no-repeat linear-gradient(#fff 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}
.dark .loader {
  background: var(--d) 0% 50%, var(--d) 50% 50%, var(--d) 100% 50%;
  animation: l7 1s infinite linear alternate;
}

@keyframes l7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%;
  }
  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%;
  }
  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%;
  }
  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%;
  }
  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%;
  }
}
